.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f6f7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo-div .logo {
  /* Coruscatingart */
  width: 186px;
  height: 34px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 34px;
  /* Style */
  background: linear-gradient(90.81deg, #c400bc 0.41%, #006a8b 96.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .logo-div .logo-star {
  zoom: 0.75;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list a {
  font-size: 0.9rem;
}

.navbar .nav-list a:hover {
  font-weight: bold;
}

.navbar .nav-list .nav-link {
  padding: 0rem 2rem;
}

.navbar .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  gap: 10px;
  border-radius: 0.3rem;
  font-size: small;
  background-color: #088869;
  cursor: pointer;
}

.navbar .search-div .search {
  color: #f4f6f7;
  background-color: #088869;
}

.navbar .search-div .search-icon {
  zoom: 0.75;
  background-color: #088869;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-1 .hero {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section-1 .hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 3rem;
}

.container .section-1 .hero .hero-content h3 {
  line-height: 3rem;
  font-size: 1.5rem;
}

.container .section-1 .hero .hero-content h1 {
  /* Rafee Alam */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.06em;
  /* #00F0FF */
  color: #7761ff;
}

.container .section-1 .hero .hero-content .profession {
  line-height: 3rem;
  font-size: 1.6rem;
  width: 100%;
}

.container .section-1 .hero .hero-content .contact-button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.4rem 0rem;
}

.container .section-1 .hero .hero-content .contact-button-area a {
  padding: 0.4rem 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #088869;
  font-size: normal;
}

.container .section-1 .hero .hero-content .contact-button-area a:hover {
  color: #f4f6f7;
  background: #088869;
}

.container .section-1 .hero .hero-content .contact-button-area .get-resume {
  padding: 0.4rem 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #088869;
  font-size: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 2rem;
}

.container .section-1 .hero .hero-content .contact-button-area .get-resume img path {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.container .section-1 .hero .hero-content .find-me-on {
  font-size: 0.9rem;
  font-weight: bold;
}

.container .section-1 .hero .hero-content .landing-page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .section-1 .hero .hero-content .landing-page-link a {
  padding-right: 1.75rem;
  padding-top: 1rem;
}

.container .section-1 .hero .hero-content .landing-page-link img {
  zoom: 0.75;
}

.container .section-1 .hero .landing-page-image-section {
  zoom: 0.75;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4rem;
}

.about-me .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me-content p {
  text-align: center;
  color: #0a0a0a;
}

.about-me .about-me-content a {
  padding: 0.4rem 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #088869;
  font-size: normal;
  margin: 1rem;
}

.about-me .about-me-content a:hover {
  background-color: #088869;
  color: #f4f6f7;
}

.about-me .experiences {
  margin-left: auto;
}

.about-me .experiences .exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.about-me .experiences .exp .exp-head {
  padding: 0.5rem 1.5rem;
  border-right: 1px solid #7761ff;
  font-weight: 500;
  font-size: 1.5rem;
  color: #7761ff;
}

.about-me .experiences .exp .exp-content {
  font-size: small;
  padding: 0.5rem 1.5rem;
}

.services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .services-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  position: relative;
  grid-gap: 1.2rem;
}

.services-section .services-wrapper .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2rem;
  position: relative;
  scale: 1;
}

.services-section .services-wrapper .services h3 {
  position: absolute;
  background: none;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
  scale: 1;
}

.services-section .services-wrapper .services p {
  position: absolute;
  background: none;
  padding: 2rem;
  text-align: center;
  color: #d1d1d1;
  font-size: small;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  scale: 1;
}

.services-section .services-wrapper .services:hover img {
  opacity: 0.3;
  -webkit-transition: scale 0.2s ease 0.5s;
  transition: scale 0.2s ease 0.5s;
}

.services-section .services-wrapper .services:hover h3 {
  scale: 1.1;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #0a0a0a;
  -webkit-transition: scale 0.2s ease 0.2s;
  transition: scale 0.2s ease 0.2s;
}

.services-section .services-wrapper .services:hover p {
  font-weight: 500;
  scale: 1.1;
  color: #0a0a0a;
  -webkit-transition: scale 0.2s ease 0.2s;
  transition: scale 0.2s ease 0.2s;
}

.skilled-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.skilled-in h2 {
  padding: 1rem 0.5rem;
}

.skilled-in .skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skilled-in .skills svg {
  margin: 1rem 2rem;
  width: 80%;
  height: 80%;
}

.skilled-in .skills svg path {
  color: #ffffff;
}

.skilled-in .skills svg:hover {
  border-radius: 27%;
  -webkit-box-shadow: 0px 0.3rem 0.5rem rgba(107, 106, 106, 0.512);
          box-shadow: 0px 0.3rem 0.5rem rgba(107, 106, 106, 0.512);
}

.skilled-in .skills svg:hover path {
  color: #088869;
}

.skilled-in .skills svg:hover rect {
  color: #ffffff;
}

.skilled-in .skills svg:hover circle {
  color: #ffffff;
}

.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-section .portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.93px;
}

.portfolio-section .portfolio-wrapper .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-section .portfolio-wrapper .project:hover {
  -webkit-box-shadow: 0.4rem 0.3rem 0.5rem #0a0a0a;
          box-shadow: 0.4rem 0.3rem 0.5rem #0a0a0a;
  -webkit-transition: all 0.1s linear 0.1s;
  transition: all 0.1s linear 0.1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-section .portfolio-wrapper .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(70.31%, rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70.31%, #000000 100%);
  border-radius: 10.0539px;
}

.portfolio-section .portfolio-wrapper .project a {
  padding: 0.4rem 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #088869;
  font-size: normal;
  position: absolute;
  margin-top: 12rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  background-color: #088869;
  color: #f4f6f7;
  font-size: small;
}

.portfolio-section .portfolio-wrapper .project a:hover {
  background-color: #f4f6f7;
  color: #0a0a0a;
}

.portfolio-section .portfolio-wrapper .project-1 {
  width: 55%;
}

.portfolio-section .portfolio-wrapper .project-1 a {
  margin-top: 22rem;
}

.portfolio-section .portfolio-wrapper .project-2 {
  width: 40%;
}

.portfolio-section .portfolio-wrapper .project-2 a {
  margin-top: 22rem;
}

.portfolio-section .portfolio-wrapper .project-3 {
  width: 32%;
}

.portfolio-section .portfolio-wrapper .project-4 {
  width: 32%;
}

.portfolio-section .portfolio-wrapper .project-5 {
  width: 33.33%;
}

.portfolio-section .portfolio-wrapper .watch-more {
  padding: 0.4rem 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #088869;
  font-size: normal;
  margin: 2rem;
}

.portfolio-section .portfolio-wrapper .watch-more:hover {
  background-color: #088869;
  color: #f4f6f7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Roboto Slab", serif;
  background-color: #f4f6f7;
}

body {
  padding: 2rem 8rem;
  background-attachment: #c9d1d6;
}

a {
  color: #0a0a0a;
}

h2 {
  padding: 2rem 0rem;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #7761ff;
}
/*# sourceMappingURL=main.css.map */