.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  @include media-tablet-2 {
    padding: 1rem;
  }
  @include media-tablet-1 {
    padding: 1rem;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include media-tablet-1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .about-me-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media-tablet-2 {
        padding: 0rem 3rem;
        font-size: small;
      }
      @include media-tablet-1 {
        padding: 0rem 2rem;
        font-size: small;
      }

      p {
        text-align: center;
        color: $secondary-color-2;
        width: 80%;
      }
    }

    .experiences {
      margin-left: auto;
      @include media-tablet-1 {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
      }

      .exp {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @include media-tablet-1 {
          text-align: left;
        }

        .exp-head {
          padding: 0.5rem 1.5rem;
          border-right: 1px solid $secondary-color-3;
          font-weight: 500;
          font-size: 1.5rem;
          color: $secondary-color-3;
          @include media-tablet-2 {
            font-size: 1.2rem;
          }
          @include media-tablet-1 {
            font-size: 1.2rem;
            padding: 0.5rem 1.5rem;
          }
        }

        .exp-content {
          font-size: small;
          padding: 0.5rem 1.5rem;
          @include media-tablet-2 {
            font-size: smaller;
          }
        }
      }
    }
  }
  a {
    align-self: center;
    @include button-common-style;
    margin: 1rem;
    svg {
      margin-left: 0.5rem;
    }
    &:hover {
      svg {
        background: $secondary-color-1;
        fill: $primary-color-1;

        path {
          color: $primary-color-1;
        }
      }
      background-color: $secondary-color-1;
      color: $primary-color-1;
    }
  }
}
