.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

  .logo {
    display: flex;
    h3 {
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 53px;
      background: linear-gradient(90.81deg, #c400bc 0.41%, #006a8b 96.94%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-decoration-color: transparent;
    }
    img {
      margin-left: 0.5rem;
    }
  }

  .footer-link {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-right: 2rem;
    }
  }

  p {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    font-size: 0.3;
    line-height: 1.5rem;
    color: #000000;
  }
  a {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    font-size: 0.3;
    line-height: 1.5rem;
    color: #000000;
  }
}
