.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-tablet-1 {
      flex-direction: column;
      width: 80%;
      flex-direction: column-reverse;
    }
    @include mobile {
      width: 100%;
      height: 100%;
      padding-top: 3rem;
    }

    .hero {
      padding-top: 0rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      @include media-tablet-2 {
        padding: 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
      @include media-tablet-1 {
        padding: 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
      @include mobile {
        flex-direction: initial;
        height: 80vh;
      }

      .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        padding-bottom: 3rem;
        @include media-tablet-2 {
          justify-content: center;
          align-items: center;
          padding-bottom: 1rem;
        }
        @include media-tablet-1 {
          justify-content: center;
          align-items: center;
          padding-bottom: 0.5rem;
        }

        @include mobile {
          padding-bottom: 0.5rem;
        }

        h3 {
          line-height: 3rem;
          font-size: 1.5rem;
          @include media-tablet-1 {
            line-height: 1.8rem;
            font-size: 1rem;
            text-align: center;
          }
        }

        h1 {
          /* Rafee Alam */

          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 700;
          font-size: 5rem;
          line-height: 7rem;
          letter-spacing: 0.06em;
          color: $secondary-color-3;
          @include media-tablet-2 {
            font-size: 4rem;
          }
          @include media-tablet-1 {
            font-size: 2.5rem;
            line-height: 4rem;
          }
        }

        .profession {
          line-height: 3rem;
          font-size: 1.6rem;
          width: 100%;
          @include media-tablet-1 {
            line-height: 1.8rem;
            font-size: 1rem;
            text-align: center;
          }
        }

        .contact-button-area {
          display: flex;
          padding: 2.4rem 0rem;
          @include media-tablet-1 {
            padding: 1.5rem 0rem;
          }

          a {
            @include button-common-style;

            &:hover {
              @include hover-animation-common;
            }
          }

          .get-resume {
            @include button-common-style;
            display: flex;
            align-items: center;
            align-content: center;
            margin-left: 2rem;

            svg {
              margin-left: 0.5rem;
            }
            &:hover {
              svg {
                background: $secondary-color-1;
                fill: $primary-color-1;

                path {
                  color: $primary-color-1;
                }
              }
              background-color: $secondary-color-1;
              color: $primary-color-1;
            }

            img path {
              margin-left: 0.5rem;
              margin-top: 0.2rem;
              // background: $secondary-color-3;
            }
          }
        }

        .find-me-on {
          font-size: 0.9rem;
          font-weight: bold;
        }

        .landing-page-link {
          display: flex;
          @include mobile {
            scale: 0.6;
          }

          a {
            padding-right: 1.75rem;
            padding-top: 1rem;
          }

          img {
            zoom: 0.75;
            @include mobile {
              zoom: normal;
            }
          }
        }
      }

      .landing-page-image-section {
        scale: 0.75;
        margin-left: auto;
        @include media-tablet-2 {
          scale: 0.8;
          margin: auto;
        }
        @include mobile {
          scale: 0.4;
          margin: auto;
          transform: translateY(-45rem);
        }
      }
    }
  }
}
