.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .services-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    position: relative;
    grid-gap: 1.2rem;

    .services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1.2rem;
      position: relative;
      scale: 1;

      h3 {
        position: absolute;
        background: none;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        transform: translateY(-100%);
        color: #ffffff;
        scale: 1;
      }

      p {
        position: absolute;
        background: none;
        padding: 2rem;
        text-align: center;
        color: #d1d1d1;
        font-size: small;
        transform: translateY(25%);
        scale: 1;
      }

      &:hover {
        img {
          opacity: 0.3;
          transition: scale 0.2s ease 0.5s;
        }

        h3 {
          scale: 1.1;
          font-weight: 600;
          font-size: 1.7rem;
          line-height: 2rem;
          color: $secondary-color-2;
          transition: scale 0.2s ease 0.2s;
        }
        p {
          font-weight: 500;
          scale: 1.1;
          color: $secondary-color-2;
          transition: scale 0.2s ease 0.2s;
        }
      }
    }
  }
}
