@import "variables";
@import "mixin";
@import "navbar";
@import "sections";
@import "about-me";
@import "services";
@import "skilled-in";
@import "portfolio";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Roboto Slab", serif;
  background-color: $primary-color-1;
}

body {
  padding: 2rem 8rem;
  background-attachment: $primary-color-3;
}

a {
  color: $secondary-color-2;
}

h2 {
  padding: 2rem 0rem;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: $secondary-color-3;
}
