@import "variables";
@import "mixin";
@import "navbar";
@import "sections";
@import "about-me";
@import "services";
@import "skilled-in";
@import "portfolio";
@import "reviews";
@import "contact";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Roboto Slab", serif;
  background-color: $primary-color-1;
  scroll-behavior: smooth;
  max-width: 1350px;
}

html {
  @include mobile {
    font-size: 60%;
  }
}

body {
  padding: 2rem 8rem;
  background-attachment: $primary-color-3;
  @include media-tablet-2 {
    padding: 2rem 4rem;
  }
  @include media-tablet-1 {
    padding: 1rem 2rem;
  }
}

a {
  color: $secondary-color-2;
  @include media-tablet-1 {
    font-size: small;
  }
}

h2 {
  padding: 2rem 0rem;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: $secondary-color-3;
  @include media-tablet-2 {
    font-size: 1.5rem;
  }
  @include media-tablet-1 {
    font-size: 1.3rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}

.lazy-img {
  filter: blur(20px);
}
